In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
performance  = pd.read_csv('performance_train.csv')
facturation  = pd.read_csv('facturation_train.csv')
payments     = pd.read_csv('paiements_train.csv')
transactions = pd.read_csv('transactions_train.csv')

customer_ids = performance['ID_CPTE']

print('Proportion of clients who default:', sum(performance['Default'])/len(performance))

Proportion of clients who default: 0.19336134453781512

# Raw Data Preview

#### Performance

In [3]:
performance.head()

    ID_CPTE PERIODID_MY  Default
0  99690111  2015-12-01        0
1  57427180  2012-12-01        0
2  29617912  2015-12-01        0
3  61632809  2015-12-01        0
4  14117855  2013-12-01        0

#### Facturation

In [4]:
facturation.head()

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0

#### Payments

In [5]:
payments.head()

    ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
0  99690111            208.0  2015-04-26 00:00:00                     Q
1  99690111            176.8  2015-05-28 00:00:00                     Q
2  99690111            200.0  2015-03-27 04:00:00                     Q
3  99690111             80.8  2015-04-02 00:00:00                     Q
4  99690111            250.0  2015-11-24 00:00:00                     Q

#### Transactions

In [6]:
transactions.head()

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
0,99690111,A,365767,DP,C,5927.0,52.53,E,2015-06-20 12:00:00,F,AN
1,99690111,L,2635650,DP,C,13343.0,28.35,B,2015-01-25 12:00:00,F,AN
2,99690111,L,2635650,DP,C,13343.0,0.00,A,2015-01-26 12:00:00,G,AN
3,99690111,J,680536,AF,C,9430.0,0.00,A,2015-03-25 08:00:00,G,AW
4,99690111,J,680536,AF,C,10600.0,0.00,A,2015-03-03 08:00:00,G,AW

In [7]:
print('performance length:\t', len(performance))
print('facturation length:\t', len(facturation))
print('payments length:\t', len(payments))
print('transactions length:\t', len(transactions))

performance length:	 11900
facturation length:	 166543
payments length:	 292320
transactions length:	 690730

In [14]:
class customer:
    
    def __init__(self, customer_id, performance, facturation, payments, transactions):
        
        self.customer_id  = customer_id
        self.performance  = performance
        self.facturation  = facturation
        self.payments     = payments
        self.transactions = transactions
        
        self.assessment = performance['PERIODID_MY'][0]
        self.default    = performance['Default'][0]

In [15]:
def generate_clients(customer_ids, *dfs):
    
    for cus in customer_ids:
        
        yield [cus] + [df[df['ID_CPTE'] == cus] for df in dfs]

In [16]:
client_generator = generate_clients(customer_ids, performance, facturation, payments, transactions)
clients = [customer(*client_info) for client_info in client_generator]

## Notes

- All ```PERIODID_MY``` occur on the 1st day of a given month, i.e. ```PERIODID_MY = 201X-XX-01```.

#### Performance

In [31]:
clients[0].performance

    ID_CPTE PERIODID_MY  Default
0  99690111  2015-12-01        0

#### Facturation

In [60]:
clients[0].facturation

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0
5,99690111,2015-08-01,2015-08-02,10610.05,4753.35,16200.0,0
6,99690111,2015-09-01,2015-08-30,11417.12,4616.46,16200.0,0
7,99690111,2014-12-01,2014-12-03,1151.85,0.00,12000.0,0
8,99690111,2015-02-01,2015-01-31,4045.67,1148.45,16200.0,0
9,99690111,2015-12-01,2015-11-30,13119.60,4791.44,16200.0,0
10,99690111,2015-01-01,2015-01-02,2298.96,350.00,12000.0,0
11,99690111,2015-03-01,2015-03-03,5926.20,2567.25,16200.0,0
12,99690111,2015-04-01,2015-03-31,6916.62,3307.33,16200.0,0
13,99690111,2015-07-01,2015-07-05,10560.00,5127.54,16200.0,0

In [76]:
clients[0].facturation.sort_values(by=['PERIODID_MY'])

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
7,99690111,2014-12-01,2014-12-03,1151.85,0.00,12000.0,0
10,99690111,2015-01-01,2015-01-02,2298.96,350.00,12000.0,0
8,99690111,2015-02-01,2015-01-31,4045.67,1148.45,16200.0,0
11,99690111,2015-03-01,2015-03-03,5926.20,2567.25,16200.0,0
12,99690111,2015-04-01,2015-03-31,6916.62,3307.33,16200.0,0
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
13,99690111,2015-07-01,2015-07-05,10560.00,5127.54,16200.0,0
5,99690111,2015-08-01,2015-08-02,10610.05,4753.35,16200.0,0
6,99690111,2015-09-01,2015-08-30,11417.12,4616.46,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0
9,99690111,2015-12-01,2015-11-30,13119.60,4791.44,16200.0,0

#### Payments

In [77]:
clients[0].payments.sort_values(by=['TRANSACTION_DTTM'])

     ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
12  99690111            262.5  2015-01-26 00:00:00                     Q
11  99690111            303.0  2015-02-26 00:00:00                     Q
2   99690111            200.0  2015-03-27 04:00:00                     Q
3   99690111             80.8  2015-04-02 00:00:00                     Q
0   99690111            208.0  2015-04-26 00:00:00                     Q
1   99690111            176.8  2015-05-28 00:00:00                     Q
10  99690111            303.0  2015-06-25 00:00:00                     Q
7   99690111            618.0  2015-07-27 00:00:00                     Q
6   99690111            267.5  2015-08-23 00:00:00                     Q
8   99690111            226.6  2015-09-30 00:00:00                     Q
9   99690111            244.8  2015-10-27 00:00:00                     Q
4   99690111            250.0  2015-11-24 00:00:00                     Q
5   99690111            273.0  2015-12-26 00:00:00                     Q

#### Transactions

In [20]:
clients[0].transactions

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
0,99690111,A,365767,DP,C,5927.0,52.53,E,2015-06-20 12:00:00,F,AN
1,99690111,L,2635650,DP,C,13343.0,28.35,B,2015-01-25 12:00:00,F,AN
2,99690111,L,2635650,DP,C,13343.0,0.00,A,2015-01-26 12:00:00,G,AN
3,99690111,J,680536,AF,C,9430.0,0.00,A,2015-03-25 08:00:00,G,AW
4,99690111,J,680536,AF,C,10600.0,0.00,A,2015-03-03 08:00:00,G,AW
5,99690111,J,680536,AF,C,12203.0,7.28,C,2015-02-16 16:00:00,B,AW
6,99690111,J,680536,AF,C,13314.0,7.00,C,2015-01-20 12:00:00,B,AW
7,99690111,J,680536,AF,C,9696.0,7.14,C,2015-01-11 08:00:00,B,AW
8,99690111,J,680536,AF,C,12203.0,0.00,A,2015-02-20 16:00:00,G,AW
9,99690111,J,680536,AF,C,10600.0,6.36,C,2015-03-04 08:00:00,B,AW
10,99690111,J,680536,AF,C,7660.0,0.00,A,2015-05-10 08:00:00,G,AW
11,99690111,J,680536,AF,C,9256.0,6.36,C,2015-04-11 08:00:00,B,AW
12,99690111,J,680536,AF,C,9256.0,0.00,A,2015-04-12 08:00:00,G,AW
13,99690111,J,680536,AF,C,8321.0,7.35,C,2015-05-01 12:00:00,B,AW
14,99690111,J,680536,AF,C,13314.0,0.00,A,2015-01-21 12:00:00,G,AW
15,99690111,J,680536,AF,C,9696.0,0.00,A,2015-01-11 08:00:00,G,AW
16,99690111,J,680536,AF,C,13349.0,6.24,C,2015-01-26 08:00:00,B,AW
17,99690111,J,680536,AF,C,7660.0,5.20,C,2015-05-13 08:00:00,B,AW
18,99690111,J,680536,AF,C,9430.0,7.49,C,2015-03-25 08:00:00,B,AW
19,99690111,J,680536,AF,C,8321.0,0.00,A,2015-04-30 12:00:00,G,AW
20,99690111,J,680536,AF,C,13349.0,0.00,A,2015-01-28 08:00:00,G,AW
21,99690111,V,2780570,DP,C,4111.0,135.45,D,2015-11-17 20:00:00,F,AV
22,99690111,V,2780570,DP,C,5481.0,119.00,D,2015-07-18 12:00:00,F,AV
23,99690111,V,2780570,DP,C,4926.0,127.33,D,2015-09-17 16:00:00,F,AV
24,99690111,V,2780570,DP,C,7654.0,118.00,D,2015-05-10 16:00:00,F,AV
25,99690111,V,2780570,DP,C,10693.0,58.58,D,2015-03-01 16:00:00,F,AV
26,99690111,V,2780570,DP,C,9689.0,127.20,D,2015-01-14 00:00:00,F,AV
27,99690111,T,2122999,DP,C,12195.0,6.12,E,2015-02-19 16:00:00,F,AN
28,99690111,T,2122999,DP,C,6091.0,6.00,E,2015-06-07 12:00:00,F,AN
29,99690111,T,2122999,DP,C,8313.0,6.30,E,2015-05-01 12:00:00,F,AN
...,...,...,...,...,...,...,...,...,...,...,...
221,99690111,UU,1506779,DP,C,9334.0,31.50,E,2015-04-07 04:00:00,F,AN
222,99690111,UU,1506779,DP,C,9123.0,36.40,E,2015-04-23 04:00:00,F,AN
223,99690111,UU,1506779,DP,C,10635.0,37.45,E,2015-02-28 16:00:00,F,AN
224,99690111,UU,2122999,DP,C,6061.0,91.16,E,2015-06-18 16:00:00,F,AN
225,99690111,UU,2122999,DP,C,5221.0,91.35,E,2015-09-05 12:00:00,F,AN
226,99690111,UU,2122999,DP,C,10504.0,155.40,E,2015-03-17 12:00:00,F,AN
227,99690111,UU,2122999,DP,C,3585.0,16.48,E,2015-12-04 08:00:00,F,AN
228,99690111,UU,2122999,DP,C,12416.0,88.58,E,2015-02-01 12:00:00,F,AN
229,99690111,UU,2122999,DP,C,3907.0,205.64,E,2015-11-28 16:00:00,F,AN
230,99690111,UU,2122999,DP,C,8029.0,97.52,E,2015-05-06 16:00:00,F,AN
231,99690111,AH,2122999,DP,C,3569.0,164.80,E,2015-12-03 12:00:00,F,AN
232,99690111,QQ,2122999,DP,C,10280.0,909.50,B,2015-03-21 20:00:00,D,AJ
233,99690111,QQ,2122999,DP,C,4421.0,52.00,B,2015-10-15 16:00:00,D,AJ
234,99690111,QQ,2122999,DP,C,10082.0,300.00,A,2015-01-05 12:00:00,E,AJ
235,99690111,QQ,2122999,DP,C,4241.0,148.40,B,2015-10-25 20:00:00,D,AJ
236,99690111,QQ,2122999,DP,C,5437.0,105.00,B,2015-08-30 16:00:00,D,AJ
237,99690111,QQ,2122999,DP,C,8167.0,42.80,B,2015-12-24 12:00:00,D,AJ
238,99690111,QQ,2122999,DP,C,6444.0,249.60,B,2015-06-01 16:00:00,D,AJ
239,99690111,QQ,2122999,DP,C,11693.0,1040.00,B,2015-03-01 12:00:00,D,AJ
240,99690111,QQ,2122999,DP,C,9667.0,153.00,B,2015-03-29 20:00:00,D,AJ
241,99690111,QQ,2122999,DP,C,4763.0,200.00,B,2015-09-29 20:00:00,D,AJ
242,99690111,QQ,2122999,DP,C,13251.0,816.00,B,2015-02-02 00:00:00,D,AJ
243,99690111,QQ,2122999,DP,C,12057.0,636.00,B,2015-02-22 20:00:00,D,AJ
244,99690111,QQ,2122999,DP,C,3851.0,151.50,B,2015-11-26 20:00:00,D,AJ
245,99690111,QQ,2122999,DP,C,9032.0,867.00,B,2015-04-23 20:00:00,D,AJ
246,99690111,QQ,2122999,DP,C,10174.0,51.50,B,2015-01-01 12:00:00,D,AJ
247,99690111,QQ,2122999,DP,C,7141.0,741.60,B,2015-05-29 20:00:00,D,AJ
248,99690111,QQ,2122999,DP,C,8307.0,202.00,B,2015-05-01 04:00:00,D,AJ
249,99690111,QQ,2122999,DP,C,13560.0,206.00,B,2015-01-19 20:00:00,D,AJ
250,99690111,QQ,2122999,DP,C,7439.0,151.50,A,2015-05-22 08:00:00,E,AJ

In [51]:
set([date[-2:] for date in facturation['PERIODID_MY']])

{'01'}