In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
performance  = pd.read_csv('performance_train.csv')
facturation  = pd.read_csv('facturation_train.csv')
payments     = pd.read_csv('paiements_train.csv')
transactions = pd.read_csv('transactions_train.csv')

customer_ids = performance['ID_CPTE']

print('Proportion of clients who default:', sum(performance['Default'])/len(performance))

Proportion of clients who default: 0.19336134453781512

In [3]:
non_default = performance[performance['Default'] == 0]['ID_CPTE']
gen_non_def = (client for client in non_default)

### Try not to reset ```default``` too often

In [4]:
next_non_default_client = next(gen_non_def)

In [5]:
performance[performance['ID_CPTE'] == next_non_default_client]

    ID_CPTE PERIODID_MY  Default
0  99690111  2015-12-01        0

In [6]:
facturation[facturation['ID_CPTE'] == next_non_default_client].sort_values(by='PERIODID_MY')

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
7,99690111,2014-12-01,2014-12-03,1151.85,0.00,12000.0,0
10,99690111,2015-01-01,2015-01-02,2298.96,350.00,12000.0,0
8,99690111,2015-02-01,2015-01-31,4045.67,1148.45,16200.0,0
11,99690111,2015-03-01,2015-03-03,5926.20,2567.25,16200.0,0
12,99690111,2015-04-01,2015-03-31,6916.62,3307.33,16200.0,0
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
13,99690111,2015-07-01,2015-07-05,10560.00,5127.54,16200.0,0
5,99690111,2015-08-01,2015-08-02,10610.05,4753.35,16200.0,0
6,99690111,2015-09-01,2015-08-30,11417.12,4616.46,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0
9,99690111,2015-12-01,2015-11-30,13119.60,4791.44,16200.0,0

In [9]:
payments[payments['ID_CPTE'] == next_non_default_client].sort_values(by='TRANSACTION_DTTM')

     ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
12  99690111            262.5  2015-01-26 00:00:00                     Q
11  99690111            303.0  2015-02-26 00:00:00                     Q
2   99690111            200.0  2015-03-27 04:00:00                     Q
3   99690111             80.8  2015-04-02 00:00:00                     Q
0   99690111            208.0  2015-04-26 00:00:00                     Q
1   99690111            176.8  2015-05-28 00:00:00                     Q
10  99690111            303.0  2015-06-25 00:00:00                     Q
7   99690111            618.0  2015-07-27 00:00:00                     Q
6   99690111            267.5  2015-08-23 00:00:00                     Q
8   99690111            226.6  2015-09-30 00:00:00                     Q
9   99690111            244.8  2015-10-27 00:00:00                     Q
4   99690111            250.0  2015-11-24 00:00:00                     Q
5   99690111            273.0  2015-12-26 00:00:00                     Q

In [10]:
transactions[transactions['ID_CPTE'] == next_non_default_client].sort_values(by='TRANSACTION_DTTM')

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
193,99690111,YZ,365767,DP,C,10196,21.63,E,2014-12-31 16:00,F,AG
246,99690111,QQ,2122999,DP,C,10174,51.50,B,2015-01-01 12:00,D,AJ
93,99690111,EE,2269449,DP,C,10124,42.84,E,2015-01-04 16:00,F,AX
234,99690111,QQ,2122999,DP,C,10082,300.00,A,2015-01-05 12:00,E,AJ
64,99690111,EE,365767,DP,C,9767,60.00,E,2015-01-06 16:00,F,AX
7,99690111,J,680536,AF,C,9696,7.14,C,2015-01-11 8:00,B,AW
15,99690111,J,680536,AF,C,9696,0.00,A,2015-01-11 8:00,G,AW
202,99690111,YZ,365767,DP,C,9708,12.36,E,2015-01-12 20:00,F,AG
177,99690111,PP,365767,DP,C,9569,82.68,E,2015-01-13 16:00,F,AA
26,99690111,V,2780570,DP,C,9689,127.20,D,2015-01-14 0:00,F,AV
104,99690111,EE,365767,DP,C,9401,9.54,E,2015-01-16 16:00,F,AX
72,99690111,EE,365767,DP,C,9376,16.64,E,2015-01-16 20:00,F,AX
59,99690111,EE,365767,DP,C,9490,90.00,E,2015-01-17 16:00,F,AX
183,99690111,YZ,365767,DP,C,9392,16.00,E,2015-01-17 20:00,F,AG
249,99690111,QQ,2122999,DP,C,13560,206.00,B,2015-01-19 20:00,D,AJ
6,99690111,J,680536,AF,C,13314,7.00,C,2015-01-20 12:00,B,AW
57,99690111,EE,365767,DP,C,13307,107.06,E,2015-01-20 16:00,F,AX
129,99690111,HH,2258446,AF,C,13202,110.21,B,2015-01-20 20:00,F,AE
219,99690111,VV,2122999,DP,C,13360,45.00,B,2015-01-20 4:00,F,AL
14,99690111,J,680536,AF,C,13314,0.00,A,2015-01-21 12:00,G,AW
1,99690111,L,2635650,DP,C,13343,28.35,B,2015-01-25 12:00,F,AN
2,99690111,L,2635650,DP,C,13343,0.00,A,2015-01-26 12:00,G,AN
16,99690111,J,680536,AF,C,13349,6.24,C,2015-01-26 8:00,B,AW
20,99690111,J,680536,AF,C,13349,0.00,A,2015-01-28 8:00,G,AW
185,99690111,YZ,365767,DP,C,13317,54.54,E,2015-01-30 16:00,F,AG
190,99690111,YZ,365767,DP,C,13264,14.70,E,2015-01-30 16:00,F,AG
228,99690111,UU,2122999,DP,C,12416,88.58,E,2015-02-01 12:00,F,AN
242,99690111,QQ,2122999,DP,C,13251,816.00,B,2015-02-02 0:00,D,AJ
212,99690111,YY,2122999,DP,C,12419,4.16,E,2015-02-04 12:00,F,AW
61,99690111,EE,365767,DP,C,12329,15.00,E,2015-02-05 12:00,F,AX
...,...,...,...,...,...,...,...,...,...,...,...
88,99690111,EE,365767,DP,C,4114,3.18,E,2015-11-15 8:00,F,AX
69,99690111,EE,365767,DP,C,3956,63.86,E,2015-11-17 12:00,F,AX
21,99690111,V,2780570,DP,C,4111,135.45,D,2015-11-17 20:00,F,AV
162,99690111,YZ,61407,DP,C,3981,25.75,E,2015-11-19 20:00,F,AA
90,99690111,EE,365767,DP,C,3859,3.03,E,2015-11-21 12:00,F,AX
208,99690111,YZ,365767,DP,C,3856,6.30,E,2015-11-22 16:00,F,AG
220,99690111,VV,365767,DP,C,3894,23.23,E,2015-11-23 16:00,F,AN
154,99690111,YZ,365767,DP,C,3871,11.11,E,2015-11-24 16:00,F,AA
244,99690111,QQ,2122999,DP,C,3851,151.50,B,2015-11-26 20:00,D,AJ
229,99690111,UU,2122999,DP,C,3907,205.64,E,2015-11-28 16:00,F,AN
195,99690111,YZ,365767,DP,C,3951,14.42,E,2015-11-30 16:00,F,AG
231,99690111,AH,2122999,DP,C,3569,164.80,E,2015-12-03 12:00,F,AN
227,99690111,UU,2122999,DP,C,3585,16.48,E,2015-12-04 8:00,F,AN
119,99690111,HH,2284763,DP,C,3409,92.92,E,2015-12-09 16:00,F,AE
191,99690111,YZ,365767,DP,C,3288,1.03,E,2015-12-10 20:00,F,AG
95,99690111,EE,365767,DP,C,3312,24.72,E,2015-12-13 16:00,F,AX
181,99690111,BC,1987817,DP,C,3317,5.30,E,2015-12-13 16:00,F,AA
156,99690111,YZ,365767,DP,C,3271,12.72,E,2015-12-15 16:00,F,AA
116,99690111,HH,365767,DP,C,3260,73.14,E,2015-12-16 16:00,F,AE
126,99690111,JJ,365767,DP,C,3300,28.84,E,2015-12-19 16:00,F,AQ
237,99690111,QQ,2122999,DP,C,8167,42.80,B,2015-12-24 12:00,D,AJ
125,99690111,JJ,1964747,DP,C,8188,21.21,E,2015-12-25 16:00,F,AQ
137,99690111,KK,365767,DP,C,8191,2.08,E,2015-12-25 20:00,F,AT
117,99690111,HH,698525,DP,C,8127,31.93,E,2015-12-28 16:00,F,AE
178,99690111,PP,365767,DP,C,8356,9.54,E,2015-12-28 16:00,F,AA
46,99690111,DD,2456002,DP,C,8320,14.56,E,2015-12-30 16:00,F,AC
118,99690111,HH,365767,DP,C,8346,6.06,E,2015-12-30 16:00,F,AE
127,99690111,HH,365767,DP,C,8325,5.35,E,2015-12-30 20:00,F,AE
205,99690111,YZ,365767,DP,C,8339,14.14,E,2015-12-30 20:00,F,AG
128,99690111,HH,2456002,DP,C,8306,22.44,E,2016-01-01 16:00,F,AE