In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
performance  = pd.read_csv('train/performance_train.csv', index_col= False)
facturation  = pd.read_csv('train/facturation_train.csv', index_col= False)
paiements    = pd.read_csv('train/paiements_train.csv', index_col= False)
transactions = pd.read_csv('train/transactions_train.csv', index_col= False)

print(sum(performance['Default'])/len(performance))

0.19336134453781512

In [4]:
performance["PERIODID_MY"]= pd.to_datetime(performance["PERIODID_MY"]).dt.year

In [5]:
performance.drop

<bound method DataFrame.drop of         ID_CPTE  PERIODID_MY  Default
0      99690111         2015        0
1      57427180         2012        0
2      29617912         2015        0
3      61632809         2015        0
4      14117855         2013        0
5      23700394         2013        0
6      27881705         2012        0
7      46100731         2012        0
8      58512689         2014        0
9      24661392         2016        0
10     39254190         2016        0
11     95779116         2015        0
12     26016069         2016        0
13     47119980         2013        0
14     55240199         2013        0
15     35559686         2014        0
16     71856405         2016        0
17     75085501         2015        0
18     75780289         2012        1
19     74010769         2015        0
20     90088004         2013        0
21     43551724         2015        0
22     68131233         2013        0
23     46775121         2016        0
24     71339428         2016        0
25     58307978         2012        0
26     19692826         2015        0
27     64460984         2013        0
28     36560668         2013        0
29     83467452         2015        0
...         ...          ...      ...
11870  91285968         2014        0
11871  79958539         2015        0
11872  85761545         2012        0
11873  39420868         2014        0
11874  89131001         2015        0
11875  35971151         2013        0
11876  19611689         2013        0
11877  61818099         2016        0
11878  71673781         2015        0
11879  65865490         2012        0
11880  35031952         2016        0
11881  18627710         2014        0
11882  30919148         2015        0
11883  76340293         2016        0
11884  75929799         2014        0
11885  27910976         2016        0
11886  76285913         2014        0
11887  95253759         2014        0
11888  59138634         2016        0
11889  33262553         2014        0
11890  94792460         2014        0
11891  64408324         2015        0
11892  42544187         2015        0
11893  66101999         2013        0
11894  97501424         2012        0
11895  58923219         2015        0
11896  40478502         2016        0
11897  97548597         2013        1
11898  12603910         2012        0
11899  11346742         2015        0

[11900 rows x 3 columns]>

In [6]:
facturation.head(25)

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0
5,99690111,2015-08-01,2015-08-02,10610.05,4753.35,16200.0,0
6,99690111,2015-09-01,2015-08-30,11417.12,4616.46,16200.0,0
7,99690111,2014-12-01,2014-12-03,1151.85,0.00,12000.0,0
8,99690111,2015-02-01,2015-01-31,4045.67,1148.45,16200.0,0
9,99690111,2015-12-01,2015-11-30,13119.60,4791.44,16200.0,0
10,99690111,2015-01-01,2015-01-02,2298.96,350.00,12000.0,0
11,99690111,2015-03-01,2015-03-03,5926.20,2567.25,16200.0,0
12,99690111,2015-04-01,2015-03-31,6916.62,3307.33,16200.0,0
13,99690111,2015-07-01,2015-07-05,10560.00,5127.54,16200.0,0
14,57427180,2012-08-01,2012-08-02,243.41,0.00,2800.0,0
15,57427180,2012-10-01,2012-10-04,489.72,0.00,2800.0,0
16,57427180,2012-05-01,2012-05-03,260.00,0.00,2800.0,0
17,57427180,2012-12-01,2012-11-29,266.06,0.00,2800.0,0
18,57427180,2012-07-01,2012-07-06,416.00,0.00,2800.0,0
19,57427180,2012-06-01,2012-06-02,210.08,0.00,2800.0,0
20,57427180,2012-01-01,2012-01-02,233.58,236.08,2800.0,0
21,57427180,2012-03-01,2012-03-03,809.12,0.00,2800.0,1
22,57427180,2012-11-01,2012-10-31,689.52,20.00,2800.0,0
23,57427180,2012-09-01,2012-08-31,410.88,0.00,2800.0,0
24,57427180,2012-04-01,2012-03-31,1058.84,1.01,2800.0,2

In [7]:
paiements.head(25)

     ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
0   99690111           208.00  2015-04-26 00:00:00                     Q
1   99690111           176.80  2015-05-28 00:00:00                     Q
2   99690111           200.00  2015-03-27 04:00:00                     Q
3   99690111            80.80  2015-04-02 00:00:00                     Q
4   99690111           250.00  2015-11-24 00:00:00                     Q
5   99690111           273.00  2015-12-26 00:00:00                     Q
6   99690111           267.50  2015-08-23 00:00:00                     Q
7   99690111           618.00  2015-07-27 00:00:00                     Q
8   99690111           226.60  2015-09-30 00:00:00                     Q
9   99690111           244.80  2015-10-27 00:00:00                     Q
10  99690111           303.00  2015-06-25 00:00:00                     Q
11  99690111           303.00  2015-02-26 00:00:00                     Q
12  99690111           262.50  2015-01-26 00:00:00                     Q
13  57427180          1076.25  2012-04-09 00:00:00                     Q
14  57427180           454.50  2012-05-25 04:00:00                     Q
15  57427180           260.00  2012-01-08 00:00:00                     Q
16  57427180           393.90  2012-09-15 00:00:00                     Q
17  57427180           476.89  2012-10-13 04:00:00                     Q
18  57427180           884.00  2012-07-27 00:00:00                     Q
19  57427180           412.00  2012-06-26 00:00:00                     Q
20  57427180           234.60  2012-01-27 00:00:00                     Q
21  57427180           252.50  2012-08-20 00:00:00                     Q
22  29617912           317.10  2015-10-16 00:00:00                     Q
23  29617912           438.88  2015-05-10 00:00:00                     Q
24  29617912           257.25  2015-07-07 00:00:00                     Q

In [18]:
transactions

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
0,99690111,A,365767,DP,C,5927.0,52.53,E,2015-06-20 12:00:00,F,AN
1,99690111,L,2635650,DP,C,13343.0,28.35,B,2015-01-25 12:00:00,F,AN
2,99690111,L,2635650,DP,C,13343.0,0.00,A,2015-01-26 12:00:00,G,AN
3,99690111,J,680536,AF,C,9430.0,0.00,A,2015-03-25 08:00:00,G,AW
4,99690111,J,680536,AF,C,10600.0,0.00,A,2015-03-03 08:00:00,G,AW
5,99690111,J,680536,AF,C,12203.0,7.28,C,2015-02-16 16:00:00,B,AW
6,99690111,J,680536,AF,C,13314.0,7.00,C,2015-01-20 12:00:00,B,AW
7,99690111,J,680536,AF,C,9696.0,7.14,C,2015-01-11 08:00:00,B,AW
8,99690111,J,680536,AF,C,12203.0,0.00,A,2015-02-20 16:00:00,G,AW
9,99690111,J,680536,AF,C,10600.0,6.36,C,2015-03-04 08:00:00,B,AW
10,99690111,J,680536,AF,C,7660.0,0.00,A,2015-05-10 08:00:00,G,AW
11,99690111,J,680536,AF,C,9256.0,6.36,C,2015-04-11 08:00:00,B,AW
12,99690111,J,680536,AF,C,9256.0,0.00,A,2015-04-12 08:00:00,G,AW
13,99690111,J,680536,AF,C,8321.0,7.35,C,2015-05-01 12:00:00,B,AW
14,99690111,J,680536,AF,C,13314.0,0.00,A,2015-01-21 12:00:00,G,AW
15,99690111,J,680536,AF,C,9696.0,0.00,A,2015-01-11 08:00:00,G,AW
16,99690111,J,680536,AF,C,13349.0,6.24,C,2015-01-26 08:00:00,B,AW
17,99690111,J,680536,AF,C,7660.0,5.20,C,2015-05-13 08:00:00,B,AW
18,99690111,J,680536,AF,C,9430.0,7.49,C,2015-03-25 08:00:00,B,AW
19,99690111,J,680536,AF,C,8321.0,0.00,A,2015-04-30 12:00:00,G,AW
20,99690111,J,680536,AF,C,13349.0,0.00,A,2015-01-28 08:00:00,G,AW
21,99690111,V,2780570,DP,C,4111.0,135.45,D,2015-11-17 20:00:00,F,AV
22,99690111,V,2780570,DP,C,5481.0,119.00,D,2015-07-18 12:00:00,F,AV
23,99690111,V,2780570,DP,C,4926.0,127.33,D,2015-09-17 16:00:00,F,AV
24,99690111,V,2780570,DP,C,7654.0,118.00,D,2015-05-10 16:00:00,F,AV
25,99690111,V,2780570,DP,C,10693.0,58.58,D,2015-03-01 16:00:00,F,AV
26,99690111,V,2780570,DP,C,9689.0,127.20,D,2015-01-14 00:00:00,F,AV
27,99690111,T,2122999,DP,C,12195.0,6.12,E,2015-02-19 16:00:00,F,AN
28,99690111,T,2122999,DP,C,6091.0,6.00,E,2015-06-07 12:00:00,F,AN
29,99690111,T,2122999,DP,C,8313.0,6.30,E,2015-05-01 12:00:00,F,AN
...,...,...,...,...,...,...,...,...,...,...,...
690700,10760112,J,680536,AF,C,1018.0,0.00,A,2016-03-24 16:00:00,G,AW
690701,10760112,J,1377423,AF,C,1219.0,18.00,C,2016-10-10 04:00:00,B,AW
690702,10760112,J,680536,AF,C,1588.0,9.54,C,2016-05-28 00:00:00,B,AW
690703,10760112,J,680536,AF,C,1353.0,12.84,C,2016-10-24 04:00:00,B,AW
690704,10760112,J,680536,AF,C,1505.0,16.80,C,2016-10-31 04:00:00,B,AW
690705,10760112,J,680536,AF,C,1374.0,0.00,A,2016-08-26 04:00:00,G,AW
690706,10760112,J,680536,AF,C,1529.0,21.21,C,2016-11-23 12:00:00,B,AW
690707,10760112,L,2635650,DP,C,1100.0,0.00,A,2016-01-21 12:00:00,G,AN
690708,10760112,J,2328808,DP,C,1600.0,36.04,B,2016-12-28 20:00:00,F,AW
690709,10760112,J,2328808,DP,C,1600.0,27.54,B,2016-08-11 20:00:00,F,AW
690710,10760112,J,2328808,DP,C,1503.0,28.62,B,2016-06-09 12:00:00,F,AW
690711,10760112,J,2328808,DP,C,1451.0,30.30,E,2016-08-13 12:00:00,F,AW
690712,10760112,L,2635650,DP,C,1100.0,0.00,A,2016-01-18 12:00:00,G,AN
690713,10760112,EE,2102419,DP,C,1013.0,36.38,E,2016-01-11 00:00:00,F,AX
690714,10760112,EE,2102419,DP,C,1571.0,5.35,E,2016-08-22 00:00:00,F,AX
690715,10760112,EE,2102419,DP,C,1525.0,7.21,E,2016-09-22 20:00:00,F,AX
690716,10760112,EE,2122999,DP,C,1471.0,5.25,E,2016-10-21 16:00:00,F,AX
690717,10760112,EE,2102419,DP,C,1368.0,16.05,E,2016-08-26 12:00:00,F,AX
690718,10760112,EE,2102419,DP,C,1169.0,10.00,E,2016-12-08 00:00:00,F,AX
690719,10760112,EE,2102419,DP,C,1543.0,21.00,E,2016-12-16 20:00:00,F,AX
690720,10760112,EE,2102419,DP,C,1519.0,7.07,E,2016-10-26 20:00:00,F,AX
690721,10760112,EE,2621207,DP,C,1117.0,100.98,E,2016-03-21 16:00:00,F,AX
690722,10760112,EE,2621207,DP,C,905.0,14.28,E,2016-02-23 00:00:00,F,AX
690723,10760112,EE,1078509,DP,C,1541.0,5.30,E,2017-01-02 16:00:00,F,AX
690724,10760112,EE,2621207,DP,C,1023.0,119.34,E,2016-02-26 20:00:00,F,AX
690725,10760112,DD,2102419,DP,C,1327.0,28.08,E,2016-11-24 16:00:00,F,AA
690726,10760112,EE,2720203,DP,C,1082.0,38.48,B,2016-01-07 16:00:00,F,AX
690727,10760112,EE,2102419,DP,C,1552.0,23.10,E,2016-09-21 16:00:00,F,AX
690728,10760112,EE,2720203,DP,C,1579.0,23.10,B,2016-04-26 20:00:00,F,AX
690729,10760112,EE,2720203,DP,C,1094.0,36.75,B,2016-03-18 20:00:00,F,AX

In [20]:
transactions.loc[transactions["ID_CPTE"] == 99690111 and transactions["MERCHANT_CATEGORY_XCD"]]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [9]:
transaction_numbers = transactions['ID_CPTE'].value_counts()

In [10]:
print('performance length:', len(performance))
print('facturation length:', len(facturation))
print('paiements length:', len(paiements))
print('transactions length:', len(transactions))

performance length: 11900
facturation length: 166543
paiements length: 292320
transactions length: 690730

In [11]:
class customer:
    
    def __init__(self, default, assessment, facturation, paiements, transactions):
        
        self.default      = default
        self.assessment   = assessment
        self.facturation  = facturation
        self.paiements    = paiements
        self.transactions = transactions

In [12]:
customer_ids = performance['ID_CPTE']

In [13]:
merge_info = pd.merge(pd.merge(pd.merge(performance,facturation),paiements),transactions)

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [14]:
response = merge_info["Default"]
features = merge_info.drop("Default", axis=1)

NameError: name 'merge_info' is not defined

In [15]:
merge_info.head(50)

NameError: name 'merge_info' is not defined

In [16]:
merge_info.shape

NameError: name 'merge_info' is not defined