In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
performance  = pd.read_csv('performance_train.csv')
facturation  = pd.read_csv('facturation_train.csv')
payments     = pd.read_csv('paiements_train.csv')
transactions = pd.read_csv('transactions_train.csv')

customer_ids = performance['ID_CPTE']

print('Proportion of clients who default:', sum(performance['Default'])/len(performance))

Proportion of clients who default: 0.19336134453781512

In [3]:
customer_ids

0        99690111
1        57427180
2        29617912
3        61632809
4        14117855
5        23700394
6        27881705
7        46100731
8        58512689
9        24661392
10       39254190
11       95779116
12       26016069
13       47119980
14       55240199
15       35559686
16       71856405
17       75085501
18       75780289
19       74010769
20       90088004
21       43551724
22       68131233
23       46775121
24       71339428
25       58307978
26       19692826
27       64460984
28       36560668
29       83467452
           ...
11870    91285968
11871    79958539
11872    85761545
11873    39420868
11874    89131001
11875    35971151
11876    19611689
11877    61818099
11878    71673781
11879    65865490
11880    35031952
11881    18627710
11882    30919148
11883    76340293
11884    75929799
11885    27910976
11886    76285913
11887    95253759
11888    59138634
11889    33262553
11890    94792460
11891    64408324
11892    42544187
11893    66101999
11894    97501424
11895    58923219
11896    40478502
11897    97548597
11898    12603910
11899    11346742
Name: ID_CPTE, Length: 11900, dtype: int64

# Raw Data Preview

#### Performance

In [4]:
performance.head()

    ID_CPTE PERIODID_MY  Default
0  99690111  2015-12-01        0
1  57427180  2012-12-01        0
2  29617912  2015-12-01        0
3  61632809  2015-12-01        0
4  14117855  2013-12-01        0

#### Facturation

In [5]:
facturation.head()

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0

#### Payments

In [6]:
payments.head()

    ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
0  99690111            208.0  2015-04-26 00:00:00                     Q
1  99690111            176.8  2015-05-28 00:00:00                     Q
2  99690111            200.0  2015-03-27 04:00:00                     Q
3  99690111             80.8  2015-04-02 00:00:00                     Q
4  99690111            250.0  2015-11-24 00:00:00                     Q

#### Transactions

In [7]:
transactions.head()

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
0,99690111,A,365767,DP,C,5927.0,52.53,E,2015-06-20 12:00:00,F,AN
1,99690111,L,2635650,DP,C,13343.0,28.35,B,2015-01-25 12:00:00,F,AN
2,99690111,L,2635650,DP,C,13343.0,0.00,A,2015-01-26 12:00:00,G,AN
3,99690111,J,680536,AF,C,9430.0,0.00,A,2015-03-25 08:00:00,G,AW
4,99690111,J,680536,AF,C,10600.0,0.00,A,2015-03-03 08:00:00,G,AW

In [8]:
list(performance[performance['ID_CPTE'] == 57427180]['PERIODID_MY'])

['2012-12-01']

In [9]:
print('performance length:\t', len(performance))
print('facturation length:\t', len(facturation))
print('payments length:\t', len(payments))
print('transactions length:\t', len(transactions))
print('')
print('performance clients:\t', len(set(performance['ID_CPTE'])))
print('facturation clients:\t', len(set(facturation['ID_CPTE'])))
print('payments clients:\t', len(set(payments['ID_CPTE'])))
print('transactions clients:\t', len(set(transactions['ID_CPTE'])))

performance length:	 11900
facturation length:	 166543
payments length:	 292320
transactions length:	 690730

performance clients:	 11900
facturation clients:	 11900
payments clients:	 11900
transactions clients:	 3769

In [10]:
class customer:
    
    def __init__(self, customer_id, performance, facturation, payments, transactions):
        
        self.customer_id  = customer_id
        self.performance  = performance
        self.facturation  = facturation
        self.payments     = payments
        self.transactions = transactions
        
        self.assessment = list(performance['PERIODID_MY'])[0]
        self.default    = list(performance['Default'])[0]

In [11]:
def generate_clients(customer_ids, *dfs):

    for cus in customer_ids:
        yield [cus] + [df[df['ID_CPTE'] == cus] for df in dfs]

In [12]:
performance[performance['ID_CPTE'] == 99690111]

    ID_CPTE PERIODID_MY  Default
0  99690111  2015-12-01        0

In [13]:
client_generator = generate_clients(customer_ids, performance, facturation, payments, transactions)
clients = [customer(*client_info) for client_info in client_generator]

## Notes

- All ```PERIODID_MY``` occur on the 1st day of a given month, i.e. ```PERIODID_MY = 201X-XX-01```.

#### Performance

In [51]:
performance[performance['ID_CPTE'] == 97350991]

      ID_CPTE PERIODID_MY  Default
111  97350991  2014-12-01        0

In [104]:
performance[performance['Default'] == 1]['ID_CPTE']

18       75780289
53       58022132
56       25809739
72       35143533
137      94504449
208      59776762
232      28710728
302      84279471
320      65860216
338      57628717
343      77812300
378      95510550
392      87585811
396      34387541
397      96973042
408      54089455
410      25129943
447      94147317
457      63791520
468      22778169
475      41993838
480      16760642
481      52928938
496      45966791
499      96393416
503      53009046
519      57674316
526      55898522
530      48691364
533      74195986
           ...
11636    50150261
11640    77873904
11641    27164284
11642    56583098
11645    50599840
11646    25786707
11659    90609839
11662    83082256
11665    42799600
11672    72039172
11675    82211560
11677    40045534
11690    29769282
11692    51056864
11698    37270667
11725    93978689
11747    91614260
11752    55794342
11769    24961423
11776    27405020
11784    35900438
11791    14424318
11793    19242606
11794    28244726
11815    33525197
11842    33276275
11844    17246537
11850    99035230
11856    63153473
11897    97548597
Name: ID_CPTE, Length: 2301, dtype: int64

In [274]:
clients[0].performance

    ID_CPTE PERIODID_MY  Default
0  99690111  2015-12-01        0

#### Facturation

In [15]:
facturation['DelqCycle'].value_counts()

0    157173
1      7899
2      1285
3       151
4        30
5         5
Name: DelqCycle, dtype: int64

In [275]:
clients[0].facturation.sort_values(by=['PERIODID_MY'])

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
1,99690111,2014-11-01,2014-11-03,866.00,0.00,12000.0,0
7,99690111,2014-12-01,2014-12-03,1151.85,0.00,12000.0,0
10,99690111,2015-01-01,2015-01-02,2298.96,350.00,12000.0,0
8,99690111,2015-02-01,2015-01-31,4045.67,1148.45,16200.0,0
11,99690111,2015-03-01,2015-03-03,5926.20,2567.25,16200.0,0
12,99690111,2015-04-01,2015-03-31,6916.62,3307.33,16200.0,0
0,99690111,2015-05-01,2015-05-03,8497.84,4293.12,16200.0,0
2,99690111,2015-06-01,2015-05-31,10790.95,5224.44,16200.0,0
13,99690111,2015-07-01,2015-07-05,10560.00,5127.54,16200.0,0
5,99690111,2015-08-01,2015-08-02,10610.05,4753.35,16200.0,0
6,99690111,2015-09-01,2015-08-30,11417.12,4616.46,16200.0,0
3,99690111,2015-10-01,2015-10-04,12388.46,4786.08,16200.0,0
4,99690111,2015-11-01,2015-11-02,12746.50,4818.48,16200.0,0
9,99690111,2015-12-01,2015-11-30,13119.60,4791.44,16200.0,0

#### Payments

In [276]:
clients[0].payments.sort_values(by=['TRANSACTION_DTTM'])

     ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
12  99690111            262.5  2015-01-26 00:00:00                     Q
11  99690111            303.0  2015-02-26 00:00:00                     Q
2   99690111            200.0  2015-03-27 04:00:00                     Q
3   99690111             80.8  2015-04-02 00:00:00                     Q
0   99690111            208.0  2015-04-26 00:00:00                     Q
1   99690111            176.8  2015-05-28 00:00:00                     Q
10  99690111            303.0  2015-06-25 00:00:00                     Q
7   99690111            618.0  2015-07-27 00:00:00                     Q
6   99690111            267.5  2015-08-23 00:00:00                     Q
8   99690111            226.6  2015-09-30 00:00:00                     Q
9   99690111            244.8  2015-10-27 00:00:00                     Q
4   99690111            250.0  2015-11-24 00:00:00                     Q
5   99690111            273.0  2015-12-26 00:00:00                     Q

#### Transactions

511 people have had ```PRIOR_CREDIT_LIMIT_AMT``` < 0

In [266]:
default = performance[performance['Default'] == 1]
default.head()

      ID_CPTE PERIODID_MY  Default
18   75780289  2012-12-01        1
53   58022132  2013-12-01        1
56   25809739  2015-12-01        1
72   35143533  2013-12-01        1
137  94504449  2012-12-01        1

In [83]:
answer = []

for cl in set(transactions[transactions['PRIOR_CREDIT_LIMIT_AMT'] < 0]['ID_CPTE']):
    answer.append(int(performance[performance['ID_CPTE'] == cl]['Default']))
    
np.sum(answer)

305

In [135]:
clients[499].transactions.sort_values(by=['TRANSACTION_DTTM'])

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
75821,96393416,EE,2997570,DP,C,13470.0,30.45,E,2013-01-03 12:00:00,F,AX
75869,96393416,VV,1533431,DP,C,13441.0,73.14,E,2013-01-14 12:00:00,F,AL
75844,96393416,HH,564476,DP,C,13086.0,5.05,E,2013-01-14 16:00:00,F,AE
75845,96393416,HH,564476,DP,C,13080.0,70.72,E,2013-01-14 16:00:00,F,AE
75862,96393416,KK,564476,DP,C,13011.0,18.90,E,2013-01-16 16:00:00,F,AT
75846,96393416,HH,564476,DP,C,13372.0,307.09,E,2013-01-16 16:00:00,F,AE
75831,96393416,EE,2746731,DP,C,12975.0,11.77,E,2013-01-27 20:00:00,F,AX
75823,96393416,EE,2997570,DP,C,12994.0,18.00,E,2013-01-28 12:00:00,F,AX
75806,96393416,EE,2746731,DP,C,12965.0,80.08,E,2013-02-19 16:00:00,F,AX
75842,96393416,EE,2746731,DP,C,12888.0,31.93,E,2013-02-19 16:00:00,F,AX
75841,96393416,EE,2997570,DP,C,12856.0,29.58,E,2013-02-21 16:00:00,F,AX
75865,96393416,BC,726898,DP,C,12829.0,926.62,E,2013-03-09 12:00:00,F,AA
75824,96393416,EE,2746731,DP,C,12861.0,32.32,E,2013-03-10 16:00:00,F,AX
75859,96393416,FF,2648365,DP,C,11962.0,24.00,E,2013-03-12 20:00:00,F,BA
75840,96393416,EE,2746731,DP,C,11963.0,28.08,E,2013-03-16 20:00:00,F,AX
75858,96393416,FF,89373,DP,C,11856.0,60.90,E,2013-03-17 16:00:00,F,BA
75799,96393416,DD,427875,DP,C,11936.0,86.67,E,2013-03-17 16:00:00,F,AC
75864,96393416,YZ,2997570,DP,C,11798.0,45.15,E,2013-03-21 12:00:00,F,AG
75800,96393416,DD,427875,DP,C,11754.0,72.10,E,2013-03-21 16:00:00,F,AC
75825,96393416,EE,2780530,DP,C,11685.0,23.92,E,2013-03-25 12:00:00,F,AX
75826,96393416,EE,2746731,DP,C,11629.0,69.68,E,2013-03-26 16:00:00,F,AX
75861,96393416,KK,89373,DP,C,11661.0,33.28,E,2013-03-28 16:00:00,F,AT
75797,96393416,DD,427875,DP,C,11839.0,75.26,E,2013-03-31 16:00:00,F,AC
75827,96393416,EE,2997570,DP,C,11629.0,27.82,E,2013-04-04 12:00:00,F,AX
75783,96393416,DD,427875,DP,C,11603.0,67.00,E,2013-04-04 16:00:00,F,AC
75836,96393416,EE,2746731,DP,C,11537.0,38.16,E,2013-04-11 20:00:00,F,AX
75781,96393416,DD,427875,DP,C,11500.0,70.62,E,2013-04-12 16:00:00,F,AC
75785,96393416,DD,427875,DP,C,11435.0,72.45,E,2013-04-14 16:00:00,F,AC
75784,96393416,DD,427875,DP,C,11337.0,66.30,E,2013-04-15 16:00:00,F,AC
75828,96393416,EE,2746731,DP,C,11365.0,27.00,E,2013-04-16 12:00:00,F,AX
...,...,...,...,...,...,...,...,...,...,...,...
75808,96393416,EE,2746731,DP,C,12853.0,26.26,E,2013-10-29 20:00:00,F,AX
75817,96393416,EE,2746731,DP,C,12826.0,46.35,E,2013-11-02 20:00:00,F,AX
75780,96393416,DD,427875,DP,C,12726.0,36.38,E,2013-11-04 16:00:00,F,AC
75811,96393416,EE,2746731,DP,C,12782.0,57.00,E,2013-11-04 20:00:00,F,AX
75786,96393416,DD,427875,DP,C,12693.0,26.50,E,2013-11-06 16:00:00,F,AC
75773,96393416,CC,196304,DP,C,12668.0,16.32,E,2013-11-06 16:00:00,F,AP
75839,96393416,EE,2746731,DP,C,12651.0,34.34,E,2013-11-07 12:00:00,F,AX
75770,96393416,CC,196304,DP,C,12618.0,10.60,E,2013-11-08 12:00:00,F,AP
75852,96393416,FF,196304,DP,C,12608.0,27.30,E,2013-11-12 20:00:00,F,BA
75833,96393416,EE,2746731,DP,C,12582.0,30.60,E,2013-11-14 12:00:00,F,AX
75850,96393416,FF,89373,DP,C,12511.0,133.12,E,2013-11-16 12:00:00,F,BA
75803,96393416,DD,427875,DP,C,12552.0,40.40,E,2013-11-17 16:00:00,F,AC
75867,96393416,AE,1533431,DP,C,12400.0,133.00,E,2013-11-22 16:00:00,F,AU
75853,96393416,FF,196304,DP,C,12267.0,67.41,E,2013-11-23 12:00:00,F,BA
75868,96393416,AE,1533431,DP,C,12415.0,15.75,E,2013-11-24 16:00:00,F,AU
75818,96393416,EE,2746731,DP,C,12478.0,44.94,E,2013-12-02 16:00:00,F,AX
75855,96393416,FF,196304,DP,C,12437.0,24.72,E,2013-12-03 16:00:00,F,BA
75779,96393416,DD,427875,DP,C,12404.0,16.32,E,2013-12-10 16:00:00,F,AC
75771,96393416,CC,196304,DP,C,12413.0,10.50,E,2013-12-10 16:00:00,F,AP
75856,96393416,FF,196304,DP,C,12387.0,59.59,E,2013-12-12 16:00:00,F,BA
75819,96393416,EE,2746731,DP,C,12327.0,94.34,E,2013-12-18 12:00:00,F,AX
75849,96393416,FF,196304,DP,C,12238.0,30.45,E,2013-12-20 16:00:00,F,BA
75835,96393416,EE,2746731,DP,C,8845.0,22.44,E,2013-12-21 16:00:00,F,AX
75838,96393416,EE,2746731,DP,C,12210.0,96.82,E,2013-12-22 16:00:00,F,AX
75843,96393416,II,2997570,DP,C,12115.0,3296.00,E,2013-12-23 16:00:00,F,AM
75851,96393416,FF,196304,DP,C,8824.0,20.60,E,2013-12-24 16:00:00,F,BA
75829,96393416,EE,2746731,DP,C,8758.0,42.00,E,2013-12-26 12:00:00,F,AX
75848,96393416,FF,196304,DP,C,8804.0,45.45,E,2013-12-27 12:00:00,F,BA
75854,96393416,FF,196304,DP,C,9300.0,55.08,E,2013-12-28 20:00:00,F,BA
75857,96393416,FF,196304,DP,C,9226.0,48.76,E,2014-01-02 12:00:00,F,BA

In [255]:
payments[payments['PAYMENT_REVERSAL_XFLG'] == 'N']

         ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
2464    13888046           555.33  2012-01-05 12:00:00                     N
4121    16989442         27952.68  2014-07-01 12:00:00                     N
33905   60095553           525.00  2016-05-30 00:00:00                     N
46169   13461194          1010.00  2014-05-18 12:00:00                     N
55058   43175568          1008.06  2015-05-02 12:00:00                     N
55436   82092975           159.00  2015-06-16 12:00:00                     N
61481   37344975           260.00  2012-04-04 12:00:00                     N
61483   37344975           408.00  2012-04-03 12:00:00                     N
63529   41208217           515.00  2014-04-03 12:00:00                     N
67683   42198845          6464.28  2014-07-06 12:00:00                     N
68954   24178402           107.00  2012-08-31 12:00:00                     N
82335   10791561          1272.00  2016-01-25 00:00:00                     N
97407   80967033           463.50  2015-05-06 12:00:00                     N
98634   25123491           260.00  2013-06-10 12:00:00                     N
99294   90557588           100.00  2014-04-05 12:00:00                     N
124862  81589449           715.02  2014-10-05 12:00:00                     N
133743  88064779          1501.44  2016-07-04 00:00:00                     N
140471  89306365         10200.00  2014-01-17 00:00:00                     N
144193  71954869         12190.00  2015-08-23 12:00:00                     N
147008  88305152          3186.82  2014-06-08 12:00:00                     N
164786  13929828          5407.50  2014-08-21 12:00:00                     N
184986  40055178         50500.00  2014-03-22 12:00:00                     N
213895  32908705          1040.00  2014-07-09 12:00:00                     N
217832  78763942          2850.34  2016-03-04 12:00:00                     N
219976  72460159         13375.00  2015-05-28 12:00:00                     N
229686  15561755          1244.88  2013-10-13 12:00:00                     N
249990  70612656         10300.00  2013-12-06 12:00:00                     N

In [22]:
for i in range(6):
    print(list(facturation['DelqCycle']).count(i))

157173
7899
1285
151
30
5

In [123]:
transactions[transactions['ID_CPTE'] == a[3]]

Empty DataFrame
Columns: [ID_CPTE, MERCHANT_CATEGORY_XCD, MERCHANT_CITY_NAME, MERCHANT_COUNTRY_XCD, DECISION_XCD, PRIOR_CREDIT_LIMIT_AMT, TRANSACTION_AMT, TRANSACTION_CATEGORY_XCD, TRANSACTION_DTTM, TRANSACTION_TYPE_XCD, SICGROUP]
Index: []

In [166]:
no_transaction_people = list(set(performance['ID_CPTE']) - set(transactions['ID_CPTE']))
len(no_transaction_people)

8131

In [141]:
set([1, 2, 3]).intersection(set([1, 2, 4]))

{1, 2}

In [156]:
a = set(performance[performance['Default'] == 1]['ID_CPTE'])

In [167]:
b = set(performance['ID_CPTE']) - set(transactions['ID_CPTE'])
len(b)

8131

In [176]:
no_transaction_default = list(a.intersection(b))

In [187]:
performance[performance['ID_CPTE'] == no_transaction_default[3]]

       ID_CPTE PERIODID_MY  Default
9465  43573273  2014-12-01        1

In [254]:
payments[payments['ID_CPTE'] == no_transaction_default[3]].sort_values(by='TRANSACTION_DTTM')

         ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
229382  43573273           424.00  2014-01-03 00:00:00                     Q
229377  43573273           204.00  2014-02-15 00:00:00                     Q
229376  43573273           265.00  2014-03-16 00:00:00                     Q
229380  43573273           250.00  2014-03-29 00:00:00                     Q
229381  43573273           250.00  2014-04-17 00:00:00                     Q
229375  43573273           255.00  2014-04-28 00:00:00                     Q
229374  43573273           200.00  2014-06-20 04:00:00                     Q
229373  43573273           208.00  2014-07-10 00:00:00                     Q
229372  43573273           208.00  2014-08-07 00:00:00                     Q
229371  43573273           257.50  2014-08-10 00:00:00                     Q
229370  43573273           234.00  2014-09-02 00:00:00                     Q
229369  43573273           212.00  2014-09-15 00:00:00                     Q
229368  43573273           236.25  2014-10-21 00:00:00                     Q
229379  43573273           250.00  2014-12-03 00:00:00                     Q
229378  43573273           208.00  2014-12-26 00:00:00                     Q

In [193]:
facturation[facturation['ID_CPTE'] == no_transaction_default[7]].sort_values(by='PERIODID_MY')

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
106269,21930039,2015-11-01,2015-11-23,8642.55,408.00,8700.0,0
106257,21930039,2015-12-01,2015-12-22,9418.50,652.80,8700.0,0
106258,21930039,2016-01-01,2016-01-23,8447.03,202.80,8700.0,0
106262,21930039,2016-02-01,2016-02-21,9102.49,254.10,8700.0,0
106268,21930039,2016-03-01,2016-03-22,9273.68,354.90,8700.0,0
106259,21930039,2016-04-01,2016-04-23,9083.94,219.30,8700.0,0
106263,21930039,2016-05-01,2016-05-26,8882.16,0.00,8700.0,0
106260,21930039,2016-06-01,2016-06-24,9027.59,317.20,8700.0,0
106267,21930039,2016-07-01,2016-07-23,8703.17,71.40,8700.0,0
106261,21930039,2016-08-01,2016-08-24,7700.24,78.00,8700.0,0
106266,21930039,2016-09-01,2016-09-27,7461.30,0.00,8700.0,0
106265,21930039,2016-10-01,2016-10-28,7861.29,139.05,8700.0,0
106256,21930039,2016-11-01,2016-11-22,8019.44,138.72,8700.0,1
106264,21930039,2016-12-01,2016-12-21,8216.06,0.00,8700.0,0

In [210]:
surpassed_cred_limit = []

for cl in clients:
    if (cl.facturation['CurrentTotalBalance'] > cl.facturation['CreditLimit']).any():
        surpassed_cred_limit.append(cl.customer_id)

In [208]:
(clients[7].facturation['CurrentTotalBalance'] > clients[7].facturation['CreditLimit']).any()

False

In [222]:
surpassed_no_def = list(set(surpassed_cred_limit).intersection(performance[performance['Default'] == 0]['ID_CPTE']))

In [262]:
facturation[facturation['ID_CPTE'] == surpassed_no_def[7]].sort_values(by='PERIODID_MY')

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
35953,86138902,2015-11-01,2015-11-05,1477.67,240.24,1600.0,0
35961,86138902,2015-12-01,2015-12-04,1361.66,176.75,1600.0,0
35963,86138902,2016-01-01,2016-01-07,1043.00,0.00,1600.0,0
35959,86138902,2016-02-01,2016-02-01,1088.71,0.00,1600.0,1
35964,86138902,2016-03-01,2016-03-04,990.00,0.00,1600.0,1
35958,86138902,2016-04-01,2016-04-06,878.74,495.04,1600.0,0
35952,86138902,2016-05-01,2016-05-01,1849.12,844.20,1600.0,0
35957,86138902,2016-06-01,2016-06-04,1906.80,804.00,1600.0,1
35955,86138902,2016-07-01,2016-07-03,1204.93,202.00,1600.0,0
35960,86138902,2016-08-01,2016-08-01,1907.85,735.00,1600.0,0
35956,86138902,2016-09-01,2016-09-03,1901.64,608.73,1600.0,0
35962,86138902,2016-10-01,2016-10-03,1810.00,787.80,1600.0,0
35951,86138902,2016-11-01,2016-10-31,1086.00,200.00,1600.0,0
35954,86138902,2016-12-01,2016-12-04,1932.38,1329.30,1600.0,0

In [263]:
payments[payments['ID_CPTE'] == surpassed_no_def[7]].sort_values(by='TRANSACTION_DTTM')

        ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
59214  86138902           165.36  2016-01-07 00:00:00                     Q
59213  86138902            85.49  2016-02-12 00:00:00                     Q
59209  86138902           202.00  2016-03-08 00:00:00                     Q
59206  86138902           490.62  2016-03-25 00:00:00                     Q
59201  86138902           909.00  2016-03-30 00:00:00                     Q
59197  86138902          1892.10  2016-04-15 00:00:00                     Q
59200  86138902           606.00  2016-04-20 00:00:00                     Q
59205  86138902           187.20  2016-06-05 00:00:00                     Q
59208  86138902           204.00  2016-06-16 00:00:00                     Q
59202  86138902           572.22  2016-07-06 16:00:00                     Q
59210  86138902           533.93  2016-07-12 00:00:00                     Q
59207  86138902           304.98  2016-08-23 00:00:00                     Q
59198  86138902            29.00  2016-08-27 00:00:00                     Q
59199  86138902          1854.00  2016-09-16 00:00:00                     Q
59203  86138902           922.08  2016-10-16 00:00:00                     Q
59204  86138902           664.65  2016-10-30 00:00:00                     Q
59212  86138902           714.00  2016-11-23 00:00:00                     Q
59211  86138902           135.45  2016-12-26 00:00:00                     Q

In [258]:
transactions[transactions['ID_CPTE'] == surpassed_no_def[4]].sort_values(by='TRANSACTION_DTTM')

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
516725,47276049,YZ,414932,DP,C,571.0,16.80,E,2014-01-03 12:00:00,F,AG
516377,47276049,EE,414932,DP,C,611.0,41.00,E,2014-01-03 12:00:00,F,AX
516422,47276049,EE,2734290,DP,C,643.0,32.86,E,2014-01-04 12:00:00,F,AX
516402,47276049,EE,2734290,DP,C,508.0,18.36,E,2014-01-08 12:00:00,F,AX
516550,47276049,KK,2882605,DP,C,690.0,20.20,E,2014-01-11 08:00:00,F,AT
516421,47276049,EE,801362,DP,C,315.0,6.36,E,2014-01-11 12:00:00,F,AX
516517,47276049,KK,2487238,DP,C,661.0,58.71,E,2014-01-14 20:00:00,F,AT
516726,47276049,YZ,2487238,DP,C,670.0,9.63,E,2014-01-14 20:00:00,F,AG
516467,47276049,FF,414932,DP,C,517.0,20.00,E,2014-01-16 16:00:00,F,BA
516727,47276049,YZ,74288,DP,C,604.0,4.00,E,2014-01-16 20:00:00,F,AG
516639,47276049,KK,414932,DP,C,600.0,5.05,E,2014-01-17 08:00:00,F,AT
516524,47276049,KK,414932,DP,C,536.0,19.00,E,2014-01-17 16:00:00,F,AT
516756,47276049,UU,2323402,DP,C,485.0,34.24,E,2014-01-18 16:00:00,F,AN
516514,47276049,HH,2734290,DP,C,596.0,63.00,E,2014-01-19 16:00:00,F,AE
516397,47276049,EE,414932,DP,C,428.0,7.14,E,2014-01-20 08:00:00,F,AX
516439,47276049,EE,438916,DP,C,497.0,13.13,E,2014-01-21 12:00:00,F,AX
516483,47276049,FF,414932,DP,C,452.0,20.80,E,2014-01-22 08:00:00,F,BA
516640,47276049,KK,414932,DP,C,430.0,1.05,E,2014-01-22 08:00:00,F,AT
516667,47276049,KK,414932,DP,C,432.0,3.03,E,2014-01-22 08:00:00,F,AT
516641,47276049,KK,414932,DP,C,421.0,2.00,E,2014-01-23 12:00:00,F,AT
516642,47276049,KK,414932,DP,C,419.0,2.00,E,2014-01-24 16:00:00,F,AT
516643,47276049,KK,414932,DP,C,795.0,2.12,E,2014-01-25 08:00:00,F,AT
516576,47276049,KK,414932,DP,C,417.0,11.55,E,2014-01-25 16:00:00,F,AT
516666,47276049,KK,11900,DP,C,407.0,12.00,E,2014-01-26 16:00:00,F,AT
516728,47276049,YZ,2734290,DP,C,771.0,90.90,E,2014-01-27 16:00:00,F,AG
516518,47276049,KK,2487238,DP,C,681.0,24.96,E,2014-01-27 20:00:00,F,AT
516644,47276049,KK,414932,DP,C,793.0,3.18,E,2014-01-29 08:00:00,F,AT
516497,47276049,HH,2734290,DP,C,577.0,87.55,E,2014-01-29 16:00:00,F,AE
516516,47276049,KK,2734290,DP,C,790.0,18.90,E,2014-01-31 16:00:00,F,AT
516346,47276049,DD,2734290,DP,C,657.0,80.80,E,2014-02-01 12:00:00,F,AC
...,...,...,...,...,...,...,...,...,...,...,...
516761,47276049,AE,2734290,DP,C,1406.0,83.20,E,2014-11-24 16:00:00,F,AU
516502,47276049,JJ,217474,DP,C,1489.0,0.00,A,2014-11-25 16:00:00,G,AQ
516636,47276049,KK,2734290,DP,C,1499.0,11.33,E,2014-11-26 12:00:00,F,AT
516355,47276049,W,596711,DP,C,1414.0,7.00,C,2014-11-27 12:00:00,B,AV
516413,47276049,EE,2734290,DP,C,1326.0,6.18,E,2014-11-27 16:00:00,F,AX
516686,47276049,KK,1453182,DP,C,1305.0,7.07,E,2014-11-29 16:00:00,F,AT
516755,47276049,UU,2734290,DP,C,1319.0,13.52,E,2014-11-29 16:00:00,F,AN
516700,47276049,PP,2734290,DP,C,1299.0,23.69,E,2014-11-30 16:00:00,F,AA
516637,47276049,KK,937319,DP,C,1276.0,1.03,E,2014-12-02 08:00:00,F,AT
516380,47276049,EE,2487238,DP,C,987.0,25.75,E,2014-12-11 16:00:00,F,AX
516352,47276049,CC,414932,DP,C,996.0,10.70,E,2014-12-11 16:00:00,F,AM
516752,47276049,SS,2734290,DP,C,1055.0,52.50,E,2014-12-12 20:00:00,F,BC
516638,47276049,KK,414932,DP,C,1006.0,10.20,E,2014-12-14 16:00:00,F,AT
516523,47276049,KK,2484602,DP,C,1436.0,34.98,E,2014-12-15 12:00:00,F,AT
516562,47276049,KK,2487238,DP,C,1512.0,69.68,E,2014-12-15 20:00:00,F,AT
516391,47276049,EE,2487238,DP,C,1213.0,32.10,E,2014-12-17 20:00:00,F,AX
516340,47276049,DD,542986,DP,C,1402.0,13.26,E,2014-12-18 12:00:00,F,AD
516409,47276049,EE,2487238,DP,C,1389.0,41.82,E,2014-12-18 20:00:00,F,AX
516739,47276049,YZ,2487238,DP,C,1446.0,11.00,E,2014-12-18 20:00:00,F,AA
516721,47276049,YZ,414932,DP,C,1348.0,23.46,E,2014-12-19 12:00:00,F,AG
516722,47276049,YZ,2487238,DP,C,1325.0,115.44,E,2014-12-19 20:00:00,F,AG
516510,47276049,HH,2734290,DP,C,1473.0,43.46,E,2014-12-20 12:00:00,F,AE
516762,47276049,AE,2734290,DP,C,1503.0,30.00,E,2014-12-24 12:00:00,F,AU
516499,47276049,HH,2734290,DP,C,1382.0,35.31,E,2014-12-26 12:00:00,F,AE
516509,47276049,HH,2734290,DP,C,1425.0,45.58,E,2014-12-26 12:00:00,F,AE
516356,47276049,W,596711,DP,C,1433.0,8.00,C,2014-12-27 08:00:00,B,AV
516723,47276049,YZ,2487238,DP,C,1734.0,35.36,E,2014-12-27 16:00:00,F,AG
516488,47276049,HH,414932,DP,C,1349.0,48.15,E,2014-12-28 16:00:00,F,AE
516724,47276049,YZ,2487238,DP,C,1699.0,18.90,E,2015-01-01 12:00:00,F,AG
516458,47276049,FF,2487238,DP,C,1682.0,32.86,E,2015-01-01 12:00:00,F,BA

In [259]:
performance[performance['ID_CPTE'] == surpassed_no_def[4]]

       ID_CPTE PERIODID_MY  Default
2829  47276049  2014-12-01        0

In [273]:
len(surpassed_no_def)/len(surpassed_cred_limit)

0.5013315579227696

In [289]:
out = []
for cl in clients:
    if sum(cl.facturation['CashBalance']) != 0:
        out.append(max(cl.facturation['CashBalance']/cl.facturation['CreditLimit']))
        
min(out)

4.950980392156863e-05

In [285]:
clients[0].facturation['CashBalance']/clients[0].facturation['CreditLimit']

0     0.265007
1     0.000000
2     0.322496
3     0.295437
4     0.297437
5     0.293417
6     0.284967
7     0.000000
8     0.070892
9     0.295768
10    0.029167
11    0.158472
12    0.204156
13    0.316515
dtype: float64