In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
performance  = pd.read_csv('performance_train.csv')
facturation  = pd.read_csv('facturation_train.csv')
payments     = pd.read_csv('paiements_train.csv')
transactions = pd.read_csv('transactions_train.csv')

customer_ids = performance['ID_CPTE']

print('Proportion of clients who default:', sum(performance['Default'])/len(performance))

Proportion of clients who default: 0.19336134453781512

In [21]:
default = performance[performance['Default'] == 1]['ID_CPTE']
gen_def = (client for client in default)

### Try not to reset ```default``` too often

In [47]:
next_default_client = next(gen_def)

In [48]:
performance[performance['ID_CPTE'] == next_default_client]

      ID_CPTE PERIODID_MY  Default
137  94504449  2012-12-01        1

In [49]:
facturation[facturation['ID_CPTE'] == next_default_client].sort_values(by='PERIODID_MY')

,ID_CPTE,PERIODID_MY,StatementDate,CurrentTotalBalance,CashBalance,CreditLimit,DelqCycle
1930,94504449,2011-11-01,2011-11-17,5679.56,0.0,7400.0,0
1920,94504449,2011-12-01,2011-12-15,5569.20,0.0,7400.0,0
1926,94504449,2012-01-01,2012-01-22,5258.00,0.0,7400.0,0
1929,94504449,2012-02-01,2012-02-16,5437.00,0.0,7400.0,0
1928,94504449,2012-03-01,2012-03-15,5452.72,0.0,7400.0,0
1919,94504449,2012-04-01,2012-04-20,5177.52,0.0,7400.0,0
1918,94504449,2012-05-01,2012-05-20,5098.48,0.0,7400.0,0
1922,94504449,2012-06-01,2012-06-16,5123.04,0.0,9200.0,0
1931,94504449,2012-07-01,2012-07-18,5251.56,0.0,9200.0,0
1924,94504449,2012-08-01,2012-08-19,5459.00,0.0,9200.0,0
1927,94504449,2012-09-01,2012-09-19,5466.21,0.0,9200.0,0
1921,94504449,2012-10-01,2012-10-21,5442.52,0.0,9200.0,0
1925,94504449,2012-11-01,2012-11-16,5234.64,0.0,9200.0,0
1923,94504449,2012-12-01,2012-12-17,5168.34,0.0,9200.0,0

In [50]:
payments[payments['ID_CPTE'] == next_default_client].sort_values(by='TRANSACTION_DTTM')

       ID_CPTE  TRANSACTION_AMT     TRANSACTION_DTTM PAYMENT_REVERSAL_XFLG
2056  94504449           206.00  2012-02-09 00:00:00                     Q
2057  94504449           340.08  2012-02-27 00:00:00                     Q
2050  94504449           312.12  2012-04-02 00:00:00                     Q
2049  94504449           305.02  2012-04-27 00:00:00                     Q
2055  94504449           336.96  2012-06-10 00:00:00                     Q
2054  94504449           206.00  2012-07-03 16:00:00                     Q
2059  94504449           210.00  2012-07-31 00:00:00                     Q
2053  94504449           300.00  2012-08-24 00:00:00                     Q
2052  94504449           416.00  2012-09-28 00:00:00                     Q
2051  94504449           404.00  2012-10-30 04:00:00                     Q
2058  94504449           424.00  2012-11-29 00:00:00                     Q

In [51]:
transactions[transactions['ID_CPTE'] == next_default_client].sort_values(by='TRANSACTION_DTTM')

,ID_CPTE,MERCHANT_CATEGORY_XCD,MERCHANT_CITY_NAME,MERCHANT_COUNTRY_XCD,DECISION_XCD,PRIOR_CREDIT_LIMIT_AMT,TRANSACTION_AMT,TRANSACTION_CATEGORY_XCD,TRANSACTION_DTTM,TRANSACTION_TYPE_XCD,SICGROUP
18991,94504449,OO,2655366,DP,C,2196.0,8.48,B,2012-01-13 00:00:00,F,AO
18927,94504449,OO,2655366,DP,C,2232.0,7.07,B,2012-01-14 00:00:00,F,AO
18964,94504449,OO,2655366,DP,C,2203.0,8.24,B,2012-01-14 00:00:00,F,AO
18941,94504449,OO,2655366,DP,C,2211.0,8.32,B,2012-01-16 00:00:00,F,AO
18975,94504449,OO,2655366,DP,C,2225.0,14.00,B,2012-01-16 00:00:00,F,AO
18973,94504449,OO,2655366,DP,C,2189.0,14.42,B,2012-01-17 00:00:00,F,AO
19010,94504449,OO,2655366,DP,C,2137.0,3.06,B,2012-01-21 20:00:00,F,AO
19011,94504449,OO,2655366,DP,C,2175.0,4.20,B,2012-01-22 20:00:00,F,AO
19031,94504449,OO,2655366,DP,C,2134.0,30.74,B,2012-01-23 20:00:00,F,AO
18996,94504449,OO,2655366,DP,C,2105.0,7.00,B,2012-01-24 20:00:00,F,AO
19043,94504449,OO,2655366,DP,C,2098.0,8.56,B,2012-01-27 20:00:00,F,AO
18912,94504449,V,2417931,BB,C,2061.0,21.00,B,2012-02-05 12:00:00,F,AL
18911,94504449,V,632318,DP,C,2041.0,92.82,B,2012-02-06 16:00:00,F,AL
18972,94504449,OO,2655366,DP,C,2135.0,14.98,B,2012-02-13 20:00:00,F,AO
19001,94504449,OO,2655366,DP,C,2143.0,8.00,B,2012-02-15 20:00:00,F,AO
18909,94504449,V,110977,DP,C,2121.0,110.24,B,2012-02-16 04:00:00,F,AL
19030,94504449,OO,2655366,DP,C,2150.0,8.56,B,2012-02-16 20:00:00,F,AO
18954,94504449,OO,2655366,DP,C,1962.0,5.30,B,2012-02-18 16:00:00,F,AO
19040,94504449,OO,2655366,DP,C,1929.0,2.14,B,2012-02-19 16:00:00,F,AO
18956,94504449,OO,2655366,DP,C,1958.0,29.29,B,2012-02-22 16:00:00,F,AO
19034,94504449,OO,2655366,DP,C,1926.0,7.21,B,2012-02-26 20:00:00,F,AO
18943,94504449,OO,2655366,DP,C,2246.0,7.07,B,2012-03-01 20:00:00,F,AO
18967,94504449,OO,2655366,DP,C,2239.0,7.21,B,2012-03-12 20:00:00,F,AO
19021,94504449,OO,2655366,DP,C,2231.0,7.49,B,2012-03-12 20:00:00,F,AO
18978,94504449,OO,2655366,DP,C,2224.0,14.00,B,2012-03-15 20:00:00,F,AO
18952,94504449,OO,2655366,DP,C,2156.0,4.24,B,2012-03-19 20:00:00,F,AO
18980,94504449,OO,2655366,DP,C,2120.0,7.00,B,2012-03-24 20:00:00,F,AO
18976,94504449,OO,2655366,DP,C,2151.0,28.56,B,2012-03-25 00:00:00,F,AO
19009,94504449,OO,2655366,DP,C,2122.0,2.06,B,2012-03-25 00:00:00,F,AO
19000,94504449,OO,2655366,DP,C,2113.0,7.14,B,2012-03-29 00:00:00,F,AO
...,...,...,...,...,...,...,...,...,...,...,...
18916,94504449,YZ,2655366,DP,C,4011.0,35.36,B,2012-11-18 08:00:00,C,AY
18984,94504449,OO,2655366,DP,C,4071.0,63.00,A,2012-11-19 00:00:00,F,AO
18950,94504449,OO,2655366,DP,C,3986.0,18.72,B,2012-11-23 08:00:00,F,AO
18998,94504449,OO,2655366,DP,C,3992.0,6.12,B,2012-11-24 08:00:00,F,AO
19033,94504449,OO,2655366,DP,C,3946.0,5.30,B,2012-11-26 08:00:00,F,AO
18929,94504449,OO,2655366,DP,C,3968.0,11.44,B,2012-11-26 08:00:00,F,AO
19014,94504449,OO,2655366,DP,C,3940.0,37.08,A,2012-11-27 00:00:00,F,AO
19019,94504449,OO,2655366,DP,C,3958.0,5.05,B,2012-11-28 08:00:00,F,AO
19015,94504449,OO,2655366,DP,C,3954.0,8.56,B,2012-11-28 08:00:00,F,AO
18924,94504449,YZ,2655366,DP,C,4311.0,27.00,A,2012-11-30 00:00:00,C,AY
18922,94504449,YZ,2655366,DP,C,4284.0,28.08,A,2012-11-30 00:00:00,C,AY
18938,94504449,OO,2655366,DP,C,3904.0,5.00,B,2012-11-30 08:00:00,F,AO
18958,94504449,OO,2655366,DP,C,4299.0,15.75,B,2012-12-01 08:00:00,F,AO
18931,94504449,OO,2655366,DP,C,4293.0,9.54,B,2012-12-04 08:00:00,F,AO
19012,94504449,OO,2655366,DP,C,4302.0,8.16,B,2012-12-08 08:00:00,F,AO
18961,94504449,OO,2655366,DP,C,4284.0,10.10,B,2012-12-16 08:00:00,F,AO
19044,94504449,OO,2655366,DP,C,4274.0,12.60,B,2012-12-16 12:00:00,F,AO
18910,94504449,V,110977,DP,C,4261.0,80.56,B,2012-12-18 20:00:00,F,AL
19028,94504449,OO,2655366,DP,C,4186.0,7.21,B,2012-12-21 08:00:00,F,AO
18969,94504449,OO,2655366,DP,C,4111.0,22.88,B,2012-12-22 08:00:00,F,AO
18957,94504449,OO,2655366,DP,C,4123.0,4.00,B,2012-12-23 08:00:00,F,AO
18977,94504449,OO,2655366,DP,C,4125.0,2.02,B,2012-12-24 08:00:00,F,AO
19008,94504449,OO,2655366,DP,C,4119.0,7.49,B,2012-12-25 08:00:00,F,AO
19002,94504449,OO,2655366,DP,C,4072.0,6.42,B,2012-12-26 08:00:00,F,AO
19016,94504449,OO,2655366,DP,C,4089.0,5.30,B,2012-12-26 08:00:00,F,AO
18995,94504449,OO,2655366,DP,C,4085.0,5.30,B,2012-12-29 08:00:00,F,AO
19024,94504449,OO,2655366,DP,C,4080.0,8.16,B,2012-12-29 08:00:00,F,AO
18989,94504449,OO,2655366,DP,C,4048.0,4.12,B,2012-12-30 08:00:00,F,AO
19020,94504449,OO,2655366,DP,C,4051.0,4.28,B,2013-01-01 08:00:00,F,AO
18949,94504449,OO,2655366,DP,C,4066.0,15.90,B,2013-01-01 08:00:00,F,AO